.developer{
    margin-top: 7px;
    margin-left: 608px;
    background-color: aliceblue;
    height: 24px;
    width: 259px;
    border-radius: 10px;
    font-size: small;
}
.h{
   font-size: 50px; 
}
.abc{
    font-size: 50px;
}
.start{
    height: 40px;
    width: 250px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    margin-left: 401px;
    font-size: small;

}
.demo{
height: 40px;
width: 250px;
text-align: center;
border-radius: 10px;
margin-left: 173px;
font-size: small;
}